.home,
.movies {
	color: white;
}

.home:hover {
	border-radius: 3px;
	background: rgb(250, 67, 97)
}

.movies:hover {
	border-radius: 3px;
	background: rgb(250, 67, 97)
}

.navbar-toggler-icon {
	color: white;
	background: gray;
}

.banner-text-area {
	width: 36%;
	display: flex;
	flex-direction: column;
	/* height: 100%; */
	padding: 2rem;
}

.banner-text-area>* {
	z-index: 2;
}
.navbar-toggler{
	color: red !important;
}